@media screen and (max-width: 480px) {

    nav.navbar > ul.menu-navbar{
        display: none;
    }

    nav.navbar > div#responsif{
        display: block;
        margin-bottom: 20px;
    }
    ul.responsif-menu{
        width: 100%;
        list-style: none;
    }
    ul.responsif-menu li{
        padding: 10px;
        font-weight: bold;
        text-align: center;
    }
    ul.responsif-menu > li:hover{
        background-color: khaki;
    }
    
}